.MainFeaturedPost {
  background: url("../../public/images/3.jpg") no-repeat center;
  background-size: cover;
  min-height: 300px;
  color: rgb(221, 228, 19);
  padding: 2em;
  border-radius: 4px;
  margin-bottom: 2em;
  color: #fff;
}

.MainFeaturedPost_section {
  width: 100%;
}

.countinueLink {
  color: rgb(229, 0, 0);
}
.MainFeaturedPost_section p,
.MainFeaturedPost_section h2 {
  margin-bottom: 1em;
}

@media (min-width: 900px) {
  .MainFeaturedPost_section {
    max-width: 60%;
  }
}
